* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav a {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

p {
    font-size: 16px;
}

.text {
    text-align: center;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/digital-marketing-meeting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    position: relative;
}

.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.service img {
    max-height: 200px;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: center;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

@media only screen and (max-width: 959px) {

    * {
        box-sizing: border-box;
}

.hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px; 
}

header nav {
    float: none;
    text-decoration: underline;
}
header nav a {
    display: block;
    margin: 20px;
}

main,
.benefits,
footer{
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

footer{
    padding: 20px;
}

.service,
.benefits{
    height: auto;
    float: none;
}

.benefits {
    height: auto;
    float: none;
}
.service img {
    max-height: initial;
    margin-bottom: 16px;
    width: 100%;
}
}